* {
    border: none;
    border-radius: 0;
    font-family: ZedMono Nerd Font, Iosevka, sans-serif;
    font-weight: 500;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(28, 28, 28, 0.75);
    border-bottom: 2px solid rgba(131, 165, 152, 0.35);
    color: #ebdbb2;
}

box.module {
    margin: 0px 5px;
    padding: 3px 0;
}

#clock {
    background: rgba(60, 56, 54, 0.75);
    padding: 0px 10px;
    margin-bottom: 2px;
}

#network {
    background: rgba(80, 73, 69, 0.75);
    padding: 0px 10px;
    margin-bottom: 2px;
}

#cpu, #memory {
    background: rgba(60, 56, 54, 0.75);
    padding: 0px 10px;
    margin-bottom: 2px;
}

#language {
    background: rgba(80, 73, 69, 0.75);
    padding: 0px 10px;
    margin-bottom: 2px;
}

#tray {
    background: rgba(60, 56, 54, 0.75);
    padding: 0px 10px;
    margin-bottom: 2px;
}

window#waybar.top #window {
    font-weight: 900;
    color: #fe8019;
}

window#waybar.top #workspaces {
    margin: 0px;
    padding: 0px;
}

#workspaces button {
    color: rgba(146, 131, 116, 1);
    padding: 2px;
    margin-bottom: 2px;
}

#workspaces button:hover {
    box-shadow: none;
    background: rgba(80, 73, 69, 1);
    text-shadow: none;
}

#workspaces button.active {
    color: rgba(251, 89, 68, 1);
    font-family: ZedMono Nerd Font;
    font-weight: bolder;
}
