window {
  background: #1c1c1c;
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: rgba(146, 131, 116, 0.7)
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 10px
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 1px;
	border-color: rgba(251, 89, 68, 0.8)
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #928374
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #ebdbb2;
  font-size: 12px
}

button:hover {
	background-color: rgba(80, 73, 69, 0.75);
	border-radius: 2px;
}

button:focus {
	box-shadow: none
}
