window {
    background-color: rgba(28, 28, 28, 0.95);
    color: #ebdbb2
}

/* search entry */
entry {
    background-color: rgba(60, 56, 54, 0.4)
}

button, image {
    background: none;
    border: none
}

button:hover {
    background-color: rgba(80, 73, 69, 0.75)
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted #7c6f64
}

#files-box {
    padding: 5px;
    border: 1px dotted #7c6f64;
    border-radius: 15px
}

/* math operation result label */
#math-label {
    font-weight: bold;
    font-size: 16px
}
